.header{
  padding-left: calc(50vw - 125px);
  padding-right: calc(50vw - 125px);
}
.header{
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 20px;
}

.link{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
    &__burger{
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: none;
      padding: 0;
    }
    &__list{
      display: none;
      //display: flex;
    }
}


